---
---

html {
    $contrast: rgb(70, 70, 70);
    $plane: #f6f8fa;

    body {
        margin: 1em;

        font: 100% Rubik, sans-serif;
        color: $contrast;
        background-color: $plane;

        h1, h2, h3 {
            a {
                color: $contrast;
                text-decoration: none;
            }
        }

        section {
            background-color: #fff;
            border: 1px #e1e4e8 solid;
            border-radius: 0.5em;
            border-top: 1em $contrast solid;
        }

        a {
            color: rgb(80, 97, 156);
        }

        .tags {
            em {
                background-color: $contrast;
                color: $plane;
                border-radius: 0.25em;
                padding-left: 0.5em;
                padding-right: 0.5em;
                margin: 0.25em;
            }
        }
    }

    body.home {
        > .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        header {
            width: 420px;
        }

        section {
            min-width: 800px;

            ul.post-index {
                max-width: 1200px;
                margin: 0px;
                padding: 0px;

                >li {
                    display: block;
                    padding: 1em;
                    border-top: 1em $contrast solid;
                }

                >li:first-child {
                    border-top: none;
                }
            }
        }

        footer {
            width: 100%;
        }
    }

    body.post {
        header {
            display: flex;
            align-items: baseline;

            >p {
                min-width: 420px;
                padding-left: 1em;
            }
        }

        section {
            padding: 1em;

            >h1,h2,h3,p {
                max-width: 1200px;
            }
        }
    }
}