---
---

html {
    $contrast: rgb(70, 70, 70);

    body {

        margin: 1em;

        font: 100% Helvetica, sans-serif;
        color: $contrast;
        // background-color: rgb(216, 216, 216);

        background-color: #f6f8fa; // #e1e4e8

        section {
            background-color: #fff;
        }

        a {
            color: rgb(80, 97, 156);
        }  
    }

    body.home {

        > .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        header {
            width: 420px;
        }

        section {
            min-width: 800px;

            ul.post-index {
                max-width: 1200px;
                margin: 0px;
                padding: 0px;
                >li {
                    display: block;
                    padding: 1em;
                    border-top: 1em $contrast solid;
                }
            }
        }

        footer {
            width: 100%;
        }
    }

    body.post {
        header {
            display: flex;
            >h,p {
                min-width: 420px;
            }
        }

        section {
            border-top: 1em $contrast solid;
        }
    }
}